<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles2.css">
</head>
<body>
    <h1><%= message %></h1>
    <h2>This is within the new one!!!</h2>
</body>
</html>
