<form action="/submit" method="POST">
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  
  <label for="message">Message:</label>
  <textarea id="message" name="message" required></textarea>

  <label for="optional">This is optional</label>
  <textarea id="optional_text" name="my_optional_text"></textarea>
  
  <button type="submit">Send</button>
</form>
