<!--

<form id="mongoDb_form">
    <input type="text" id="input_data">
    <button id="button_element" onclick="Submit_Data()">Submit your info here!</button>
</form>

-->

<!DOCTYPE html>
<html>
<head>
    <title>Something</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <input type="text" id="input_data">
    <button id="button_element" onclick="Submit_Data()">Submit here! :D</button>
</body>
</html>

<script>
    
    function Submit_Data(){
        let userName = document.getElementById("input_data").value;
        console.log("Up here!! seuhaouwahf");

            fetch("/users/submitMongo", {
            method: "POST",
            headers: { "Content-Type": "application/json" },
            body: JSON.stringify({ userName })
        })
        .then(response => {
            console.log("Hello?");
            //console.log("Fetch response:", response);
            return response.text();
        })
        .then(server_response_text => {
            console.log("Server said:", server_response_text);  // Add logging here
            alert("The Response Is: " + server_response_text);
        })
        .catch(error => console.error("Fetch error:", error));  // Catch fetch errors

    }
</script>